body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:white;
    background-color: black;
    margin: 0;
    padding: 0;
}
.body{
    position: absolute;
    width: 80%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}
.body h1 {
    animation: drop 1s ease;
}
.header {
    padding-top: 5vh;
    height: 10vh;
    width: 80%;
    transform: translateX(-5%);
    margin:  auto;
}
.header ul {
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{color:rgb(173, 173, 173)}
.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;

}
.dropbtn:hover{cursor:default}
.dropdown-content {
    margin-top: 10px;
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    z-index: 1;
}
.dropdown-content a{padding: 10px;}
.dropdown-content a:hover{background-color: rgb(173, 173, 173);color: black;}
.dropdown:hover .dropdown-content{display:flex;animation: dropdown 0.5s ease;}

.background{
    position: fixed;
    z-index: -1;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    min-width: 1024px;
    opacity: 0.2;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translate(-100%);
    }
    100%{
        opacity: 1;
        transform: translate(0%);
    }
}
@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translate(10%);
    }
    100%{
        opacity: 1;
        transform: translate(0%);
    }
}

.footer{
    position: absolute;
    left: 50%;
    bottom: 1vh;
    transform: translateX(-50%);
    text-align: center;
}
@media screen and (max-width:768px){
    .header{width:70%;margin-left: 9%;}
}