header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
a {
    font-family: sans-serif;
    color: black;
    margin: 10px;
    text-decoration: none;
}
div {
    text-align: center;
    margin: 150px;
}
#searchbox {
    width: 350px;
    border-radius: 5px;
    border: 1px solid gray;
}
.submit {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}
h1{
    font-family: sans-serif, Arial;
    font-size: xx-large;
    font:bold;
    color: darkblue;
}